body {
  overflow: hidden;
  box-sizing: border-box;
  
}
section {
  animation: fadeInEffect 1s ease-in-out forwards !important;
}
#conteudo {
  height: 100vh;
}
@keyframes fadeInEffect {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
